* { margin: 0, padding: 0 }

body {
	font-family: proxima-nova-condensed, proxima-nova, Helvetica, Arial, sans-serif; 
	margin: 0;
}
.menu {
	background-color: #45c3d0;
	padding-top: none;
	margin-top: 0px;
	width: 100%;
	height: 40px;
}

.menubar {
	background-color: #45c3d0;
	height: 46px;
}
.header {
	background-color: white;
	color: #fcb233;
	height: 200px;
	width: 100%;
	padding-top: 70px;
	text-align: center;
}

.hometop {
	padding-top: 80px;
	text-align: center;
}

.map {
	text-align: center;
	width: 100%;
}

.iframe {
	float: middle;
	display: block;
	width: 80%;
}

.wtfisthis {
	padding-top: 80px;
	text-align: center;
	margin-right: 200px;
	margin-left: 200px;
}

.wtfisthis p{
	margin-right: 200px;
	margin-left: 200px;
	text-align: 
}

.footer {
	background-color: #fcb233;
	height: 40px;
	width: 100%;
	text-align: center;
}

h1 {
	font-size: 90px;
	text-align: center;
	padding-top: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 30px;
}

.grid {
	width: 200px;
	height: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.imagegrid {
	padding-top: 20px;
	text-align: center;
}

h2 {
	font-size: 48px;
	margin-left: 150px;
}

h5 {
	font-size: 30px;
	line-height: 0px;
}

li {
	color: #f15b61;
	font-size: 20px;
}

ul {
	padding-left: 300px;
}

h3 {
	color: #fcb233;
	font-size: 30px;
	margin-top: 70px;
	margin-bottom: 0;
}

p {
	font-size: 20px;
	line-height: 31px;
	margin-top: 8px;
}

.itinerary {
	width: 50%;
	padding-left: 300px;
}

.instabanner {
	background-color: #fcb233;
	width: 80%;
	text-align: left;
	margin-left: 150px;
	height: 220px;
	z-index: 0;
	position: relative;
	margin-top: 160px;
	margin-bottom: 180px;
}

.instabannerpink {
	background-color: #f15b61;
	width: 80%;
	vertical-align: center;
	text-align: left;
	margin-left: 150px;
	height: 220px;
	z-index: 0;
	position: relative;
	margin-top: 160px;
	margin-bottom: 180px;
}

.instabannerblue {
	background-color: #45c3d0;
	width: 80%;
	vertical-align: center;
	text-align: left;
	margin-left: 150px;
	height: 220px;
	z-index: 0;
	position: relative;
	margin-top: 160px;
	margin-bottom: 180px;
}

table {
	padding-left: 220px;
	width: 625px;
	font-size: 25px;
	line-height: 35px;
}

h4 {
	color: white;
	font-size: 48px;
	line-height: 60px;
	z-index: 1;
	position: relative;
	vertical-align: middle;
	display: table-cell;
	padding-left: 525px;
	height: 220px;
	padding-right: 75px;
}

h6 {
	color: white;
	font-size: 32px;
	line-height: 45px;
	z-index: 1;
	position: relative;
	vertical-align: middle;
	display: table-cell;
	padding-left: 525px;
	height: 220px;
	padding-right: 75px;
}

.aboutcontent {
	margin-right: 250px;
	margin-left: 250px;
}

.instabannerimg {
	height: 400px;
	width: 400px;
	left: 100px;
	z-index: 2;
	position: absolute;
	top:-90px;

}
ul#rightmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #45c3d0;
    display: inline-block;
    float:right;
  	font
}

ul#rightmenu li{
    float: right;

}

ul#rightmenu li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

ul#rightmenu li a:hover{
    color: black;
}

ul#leftmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #45c3d0;
    display: inline-block;


}

ul#leftmenu li{
    float: left;
    height: 100%;
}

ul#leftmenu li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

ul#leftmenu li a:hover{
    color: black;
}